<%- include("partials/header"); -%>
<style type="text/css">
    .same {
    white-space: pre-wrap;
}
</style>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="">
            <h2 class="text-center">
                <%= title %>
            </h2>
            <h6 class="card-subtitle text-center"> <a href="/otherpost/<%=authorId%> "> <em>
                        <%= "@" + author %>
                    </em> </a></h6>
            <h4 class="mt-5 text-center">
                <%= content %>
            </h4>
            <p style="padding-left: 90px;">
                <b>Company : </b><%= company %> <br>
                <b>Position : </b><%= company_position %> <br>
                <b>Rounds attended : </b><%= rounds %> <br>
                <b>CTC Offered : </b><%= salary %> <br>

            </p>
            <h3>Detailed Description: </h3>
            <div class="post-box same">
                <%- markdown %>
            </div>
        </div>
    </div>
    <p>Posted on <%- time %></p>
</div>
    <%- include('partials/footer') -%>